Incorrectly formatted base url redirect

By default, the app redirects to `web/` instead of `/web/` which is not correct and causes some clients to try to connect to the host `web`, similarly to if they navigated to `http://web/`. This can be seen by the server returning `Location: web/` instead of `Location: /web/` in the 302 response.

This appears to be a regression(?) added in #8408 by incorrectly using the result of `uri.MakeRelativeUri()`. It seems as if the result is not intended to be used on it's own, but instead to be combined with the url that `MakeRelativeUri()` is called on.

As a side note, should this redirect potentially be a 301 with `RedirectPermanent()` instead of a 302?

https://github.com/jellyfin/jellyfin/blob/29fc7711a19f941211cfca9fea586175d5611dd3/Jellyfin.Api/Middleware/BaseUrlRedirectionMiddleware.cs#L67-L72

I think it is the client handling it wrong?

`Location: web/` and `Location: /web/` actually has different meaning in the Location header.

`web/` is a relative path to current url but `/web/` is a root-relative url.

See [RFC3986 Section 5](https://datatracker.ietf.org/doc/html/rfc3986#section-5) for more info and more specifically [5.4.1](https://datatracker.ietf.org/doc/html/rfc3986#section-5.4.1) to see examples for both cases.

If it is something that our server can workaround we are always considering workarounds as we know clients are not standard compliant. But for the case that a standard as basic and critical as url scheme RFC being violated, we can do little unfortunately as we cannot punish clients that does this handling correct. For your client, your best option is to have a reverse proxy in front of the server and modify this header to make your client happy.

Ah, you are correct. I do understand the difference in the URL types, but I had thought that Location headers were always required to be absolute to the server/host root, but that the hostname part was optional. It appears the spec has been updated since I last looked at it and fully relative paths are now allowed! I suspect the test client I was using hasn't been updated to be compliant with the latest version of the HTTP spec.

That said, this still looks like a regression in comparison to the previous code that would return a root-relative URL. If that was in fact an intentional change then you are correct that this is invalid. However root-relative redirects seem like they would typically be easier to work with when integrating with a reverse proxy or other middleware.

Any thoughts as to 301 vs 302?

Thanks for the consideration!

301 may cause the client to cache such redirection and it makes it harder to do configuration changes. Usage of 301 needs to be a user option at best.

> this still looks like a regression in comparison to the previous code that would return a root-relative URL

And that was a bug because reverse proxies can do its own url magics and always doing root-relative redirections breaks this use case.


> 301 may cause the client to cache such redirection and it makes it harder to do configuration changes. Usage of 301 needs to be a user option at best.

That makes sense that a 302 would be easier for configuration changes. I suppose this isn't something that would be indexed on Google or something anyway so it doesn't matter as much.

> And that was a bug because reverse proxies can do its own url magics and always doing root-relative redirections breaks this use case.

That's interesting. 🤔 I've never encountered a proxy that has issues with root-relative redirects. In fact I've never even seen them used with anything except absolute or root-relative redirects. I am curious what proxy has issues with it or what kind of scenario that would break? After all, before 2014 they were required to be absolute, and proxies can easily calculate and rewrite URLs to be correct even with root-relative or fully absolute URLs. I'm just curious under what scenario that could be considered a bug?



>  I am curious what proxy has issues with it or what kind of scenario that would break?

The base url set from the reverse proxy is not always the base url that the jellyfin server believes to be. 